<div class="grid-container">
  <div class="grid-item">
    <h2 class="mat-display-3">The Instructor</h2>
    <img class="img-responsive" src="../assets/Ryan-1.png" alt="Ryan Clement">
  </div>
  <div class="grid-item">
    <div class="container">
      <p class="mat-body"> Ryan Clement has been involved in the local music scene of Albuquerque since 1983. Playing piano and keyboards
        in over ten bands, including The Strawberry Zots and more recenly Nothing but Groove and The Paddle Tramps. He
        is well-versed in
        a number of styles ranging from classcial, jazz, and rock so he can easily cater to all musical interests.
        Ryan was also the manager of local music equipment store
        Grandma's Music and Sound for over twenty years. Ryan's passion for keyboard and piano is obvious to anyone
        who has had the pleasure of seeing him play and he
        has been teaching piano out of his home in Corrales, New Mexico for the last ten years to people of all ages
        and skill ranges. Ryan has more recently begun offering
        virtual lessons on Zoom to expand his teaching platforms.</p>
    </div>
  </div>
  <div id="grid-video" class="grid-item">
    <div class="container">
      <h2 class="mat-display-1">Ryan playing keyboards with Albuquerue band Nothin But Groove</h2>
      <div class="videoWrapper">
        <iframe [src]='safeUrl' frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>